{% extends "base.html"%}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <h4> Add url <a href = "{{url}}">{{url}}</a> to a collection</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default widget-card"><a href = "{{url_for('chrome_extension_redirect', id = None, url = session.get('url_from_widget'), title = 'New Collection')}}" class="widget-card-link">New Board <span class="glyphicon glyphicon-plus"></span></a></div>
    <!-- title form -->
  </div>
</div>
{% for item in user.collections%}
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default widget-card"><a href = "{{url_for('chrome_extension_redirect', id = item.id, url = session.get('url_from_widget'))}}" class="widget-card-link">{{item.title}} <small>{{item.collection_items.all()|count}} items</small></a></div>
  </div>
</div>

{%endfor%}
{%endblock%}
